body
{
	background-color:#abcffa;
	display:flex;
	justify-content:center;
	align-items:center;
}
.container
{
	padding:10px;
	border:3px solid green;
}
#b
{
	color:#fff;
	
}
.center {
  padding:7%;
  border:3px solid green;
  text-align:center;
}
.pull-right
{
	align-items:right;
	margin-left:20px;
	padding:7%;
	border:3px solid green;
}